*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif;
}
.main{
    height: 100vh;
    width: 200vh;
    /* border: 2px solid red */
}
.mid{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
}
.header{
    text-align: center;
    margin-top: 3rem;
}
.leftside{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid red; */
}
.Contact h2{
    margin-bottom: 1rem;
}
.form-gr{
    width: 100%;
    margin-top: 1rem;
    /* border: 1px solid red; */
}
.input{
    position: relative;
}
.input i{
    position: absolute;
    left: 10px;
    top: 8px;
    color: #828282;



}
.input input{
    border-radius: 5px;
    width: 55vh;
    height: 3vh;
    border: 1px solid gray;
    padding: 1rem;
    padding-left: 33px;
    color: #828282;
    font-size: 1rem;
}

.side-by-side{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.side-by-side .country{
    width: 14vh;
}
.input select{
    border: 1px solid gray;
    color: #828282;
    border-radius: 0.4rem;
    padding: 0.4rem 0.4rem 0.5rem 1.4rem;
    padding-left: 28px;
    font-size: 1rem;
}
.postcode input{
    width: 35vh;
}
.button{
    display: flex;
    justify-content:flex-end;
    
}
.button button{
    padding: 1rem 2rem;
    width: 20vh;
    text-align: center;
    border-radius: 15px;
    border: 1px solid gray;
    background-color: orange;
    cursor: pointer;
    color: white;
}
.button button:hover{
   background-color: rgba(0,0,0,0.55);
   transition: all 0.5s;
}
img{
    width: 130px;
    border-radius: 20px;
}
.rightside{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    width: auto;
    height: 30%;
    background-color: #eeeeee;
    padding: 2rem;
    border-radius: 1rem;
}

.img1{
    display: flex;
    padding-bottom: 1rem;
}
.item.img1.price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img2{
    display: flex
}
.item h2{
    font-size: 1rem;
    padding-left: 0.5rem;
}
.orange{
    color: orange;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-weight: 600;
}
.overline{
    text-decoration:line-through;
    padding-left: 0.5rem;
}
.total-price{
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}


.item button{
    padding: 0rem 0.3rem;
    background-color: rgb(209, 207, 207);
    border-radius: 2px;
    cursor: pointer;
    border: none;
}
.item button:hover{
    background-color: gray;
}
.item .counter{
    border: 1px solid gray;
    display: flex;
    width: 12vh;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 5px;
}



